<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom uk-padding-remove">
  <h1 class="uk-heading-primary">
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
</div>
