#meme-editor {
  min-width: 700px;
  cursor: default;
}
#meme-editor.draggable {
  cursor: grab;
}
#meme-editor.dragging {
  cursor: grabbing;
}
#copyToClipboard {
  padding-left: 15px;
  padding-right: 15px;
}
