<button routerLink="/" class="uk-button uk-button-danger">Go back</button>
<section class="uk-margin-top">
  <div class="uk-child-width-auto" uk-grid>
    <div>
      <div>
        <h2 class="uk-inline uk-align-left">Edit your meme</h2>
        <button class="uk-button uk-button-default uk-inline uk-align-right" id="addTextFieldBtn" (click)="addTextField()">Add text field</button>
      </div>
      <div>
        <canvas class="uk-preserve-width" id="meme-editor" width="700" height="{{canvas.height}}" (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" (mousemove)="mouseMove($event)" [class.draggable]="dragPossible" [class.dragging]="dragOn">Sorry, but your browser is incompatible with Free Meme Generator.</canvas>
      </div>
    </div>
    <div>
      <ul class="uk-list">
        <li class="uk-margin uk-card uk-card-default uk-card-body textField" *ngFor="let textField of textFields">
          <form>
            <fieldset class="uk-fieldset">
              <div class="uk-margin">
                <input class="uk-input uk-text-bold" [(ngModel)]="textField.text" (keyup)="updateEditor()" placeholder="Insert text" name="text">
              </div>
              <div class="uk-margin">
                <label class="uk-form-label">Size <input class="uk-input uk-form-width-medium" type="number" [(ngModel)]="textField.fontSize" (input)="updateEditor()" name="size"></label>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label">Uppercase <input class="uk-checkbox" type="checkbox" [(ngModel)]="textField.upperCase" (change)="updateEditor()" name="uppercase"></label>
                <label class="uk-form-label">Text shadow <input class="uk-checkbox" type="checkbox" [(ngModel)]="textField.textShadow" (change)="updateEditor()" name="textShadow"></label>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label">Text color <input class="uk-input uk-form-width-medium" type="text" [(ngModel)]="textField.fontColor" (input)="updateEditor()" (colorPickerChange)="updateEditor()" name="textColor" [(colorPicker)]="textField.fontColor" [cpPosition]="'bottom'" [style.background]="textField.fontColor"></label>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label">Shadow color <input class="uk-input uk-form-width-medium" type="text" [(ngModel)]="textField.shadowColor" (input)="updateEditor()" (colorPickerChange)="updateEditor()" name="shadowColor" [(colorPicker)]="textField.shadowColor" [cpPosition]="'bottom'" [style.background]="textField.shadowColor"></label>
              </div>
              <div class="uk-margin">
                <button class="uk-button uk-button-default uk-button-small" (click)="centerTextField(textField)"><span uk-icon="table"></span> Center</button>
                <button class="uk-button uk-button-default uk-button-small" (click)="setDefaultTextField(textField)" uk-tooltip="Set this text field as a default one & apply to all other fields"><span uk-icon="heart"></span> Set & apply</button>
              </div>
              <button class="uk-button uk-button-default uk-button-small uk-button-danger" (click)="removeTextField(textField)"><span uk-icon="trash"></span> Remove this field</button>
            </fieldset>
          </form>
        </li>
      </ul>
      <div>
        <div class="uk-button-group">
          <a class="uk-button uk-button-secondary" (click)="exportCanvas()" href="{{exportedImage}}" download="meme.png" uk-tooltip="Download the meme immediately to your computer">Download (private)</a>
          <button class="uk-button uk-button-primary" (click)="saveCanvas()" [disabled] = "!touched" uk-tooltip="Save to the server and get a link for download">Save & share (public)</button>
        </div>
        <div class="uk-display-block uk-margin-medium-top uk-text-center" *ngIf="loading" uk-spinner="ratio: 5"></div>
        <div class="uk-margin-top uk-card uk-card-default uk-card-body" [hidden]="!savedImage || loading">
          <h3>Meme was successfully saved:</h3>
          <pre class="uk-inline uk-width-medium">{{savedImage}}</pre><button id="copyToClipboard" class="uk-button uk-button-default" (click)="copyToClipboard()" ngxClipboard  [cbContent]="savedImage" uk-tooltip="Copy to clipboard"><span uk-icon="copy"> </span></button>
          <div>
            <a class="uk-icon-button uk-margin-small-right" shareButton="twitter" url="{{savedImage}}" uk-icon="twitter"></a>
            <a class="uk-icon-button uk-margin-small-right" shareButton="facebook" url="{{savedImage}}" uk-icon="facebook"></a>
            <a class="uk-icon-button uk-margin-small-right" shareButton="google" url="{{savedImage}}" uk-icon="google-plus"></a>
            <a class="uk-icon-button" uk-icon="download" (click)="exportCanvas()" href="{{exportedImage}}" download="meme.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-meme-templates [selectedImage]="selectedImage" (loadImage)="loadImage($event)"></app-meme-templates>
