<section class="uk-margin-top">
  <h2>Select a template</h2>
  <div *ngIf="loading" uk-spinner="ratio: 3"></div>
  <div class="uk-grid-small uk-child-width-auto uk-text-center" uk-grid>
    <div *ngFor="let template of templates">
      <div class="uk-card uk-card-hover uk-card-body uk-padding-small template-card" [class.selected-template-card]="template.id == selectedImage" (click)="select(template)">
        <div class="uk-card-body uk-padding-small">
          <h3 class="uk-text-lead">{{template.name}}</h3>
        </div>
        <div class="uk-card-media-bottom">
          <img src="{{template.id}}" alt="{{template.name}}" crossorigin="anonymous">
        </div>
      </div>
    </div>
  </div>
  <h3>or upload your own template:</h3>
  <div class="uk-placeholder uk-text-center uk-width-xlarge" (dragover)="allowDrop($event)" (drop)="handleImage($event)">
    <span uk-icon="icon: upload"></span>
    <span class="uk-text-middle">Attach file by dropping it here or</span>
    <div uk-form-custom>
      <input type='file' id="imageUpload" (change)="handleImage($event)">
      <span class="uk-link">selecting one</span>
    </div>
  </div>
</section>
