<button routerLink="/editor" class="uk-button uk-button-primary uk-button-large">Make a meme!</button>
<section class="uk-margin-top">
  <h2>Latest memes</h2>
  <div *ngIf="loading" uk-spinner="ratio: 5"></div>
  <div uk-grid>
    <div class="uk-width-1-2@s uk-width-1-5@m uk-width-*@l meme" *ngFor="let meme of memes | slice : currentPage * memesPerPage : currentPage * memesPerPage + memesPerPage">
      <div class="uk-card uk-card-default uk-width-medium">
        <div [hidden]="meme.created < now - 5 * 24 * 60 * 60 * 1000" class="uk-card-badge uk-label">NEW</div>
        <div class="uk-card-media-top">
          <a href="https://memegenerator.josefkriz.com/memes/{{meme.id}}">
            <div class="uk-inline uk-light uk-visible-toggle">
              <img src="https://memegenerator.josefkriz.com/memes/{{meme.id}}" alt="Meme created {{meme.created | date}}" title="Meme created {{meme.created | date}}" crossorigin="anonymous">
              <div class="uk-overlay-primary uk-position-cover uk-invisible-hover">
                <div class="uk-position-center">
                  <span uk-icon="icon: download; ratio: 3"></span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="uk-card-body uk-padding-small">
          <a class="uk-inline uk-link uk-align-left uk-margin-remove thumb-up" (click)="giveThumb(meme, 'up')"><span class="uk-label uk-label-success">👍 {{meme.thumbsUp}}</span></a>
          <a class="uk-inline uk-link uk-align-right uk-margin-remove thumb-down" (click)="giveThumb(meme, 'down')"><span class="uk-label uk-label-danger">{{meme.thumbsDown}} 👎</span></a>
        </div>
      </div>
    </div>
  </div>
  <ul class="uk-pagination">
    <li [class.uk-disabled]="memes != undefined && !canGoToPreviousPage()"><a (click)="previousPage()"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
    <li class="uk-margin-auto-left" [class.uk-disabled]="memes != undefined && !canGoToNextPage()"><a (click)="nextPage()">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
  </ul>
</section>
